In [1]:
#Enter your solution here
import pandas as pd
import pymysql

In [2]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='MyNewPass', db='chicagotaxidb')

In [3]:
def getRes(query):
    df = pd.read_sql(query, con=db)
    return df

In [ ]:
db.close()

In [7]:
getRes("select Company,avg(fare/trip_miles) as Fare_Rate, avg((fare/Trip_Seconds)*60) as Fare_Minute,count(1) as No_Of_Trips from taxi_mini group by Company order by Fare_Rate desc;")

                               Company  Fare_Rate  Fare_Minute  count(1)
0    Blue Ribbon Taxi Association Inc.  69.724487     1.001845      3819
1            Taxi Affiliation Services  22.837999     1.072765     24519
2                 3201 - CD Cab Co Inc   8.524662     1.199276        22
3               1469 - 64126 Omar Jada   7.351826     0.963714        54
4             5006 - 39261 Salifu Bawa   6.928263     0.991097        61
5                              Unknown   6.265291     1.199601     83082
6      0694 - 59280 Chinesco Trans Inc   6.252364     0.949754        38
7            5724 - 75306 KYVI Cab Inc   6.249065     1.032381        30
8          1085 - 72312 N and W Cab Co   6.200230     1.061084        72
9            6057 - 24657 Richard Addo   6.058884     0.873378        39
10         6574 - Babylon Express Inc.   6.043612     0.980317        70
11             6743 - 78771 Luhak Corp   6.027147     0.888256        73
12         6742 - 83735 Tasha ride inc   6.015392     1.002026        52
13          2092 - 61288 Sbeih company   6.007979     1.037860        53
14           Dispatch Taxi Affiliation   5.947795     1.078072     12251
15              3591 - 63480 Chuks Cab   5.929380     0.907368       104
16          "3721 - Santamaria Express   5.920501     1.213450        22
17        Chicago Medallion Management   5.911162     1.045071      3796
18             2733 - 74600 Benny Jona   5.900676     0.955001        46
19       Chicago Medallion Leasing INC   5.878568     1.073564      3402
20                Chicago Independents   5.828885     1.479150        37
21            Northwest Management LLC   5.812763     1.073643     13308
22               KOAM Taxi Association   5.754777     1.042729      3230
23                        5129 - 87128   5.716178     1.079713        55
24           585 - 88805 Valley Cab Co   5.666492     1.008193        73
25             Choice Taxi Association   5.666206     1.058000     12324
26          3094 - 24059 G.L.B. Cab Co   5.491005     0.918815        48
27                 Top Cab Affiliation   5.426025     1.077085      3253
28         0118 - 42111 Godfrey S.Awir   5.376361     1.005600        69
29     3620 - 52292 David K. Cab Corp.   5.331114     0.979934        27
30           3011 - 66308 JBL Cab Inc.   5.284209     1.160186        68
31             5062 - 34841 Sam Mestas   5.101326     1.223358        20
32           2192 - 73487 Zeymane Corp   5.055495     1.103879        34
33             4197 - 41842 Royal Star   5.008338     1.156988        15
34                4623 - 27290 Jay Kim   4.994309     1.191942        41
35        2823 - 73307 Lee Express Inc   4.908430     0.987566        24
36              5074 - 54002 Ahzmi Inc   4.803409     0.950632        28
37  3623 - 72222 Arrington Enterprises   4.615656     1.115339        39
38       5874 - 73628 Sergey Cab Corp.   4.575335     1.397540        36
39       5997 - 65283 AW Services Inc.   4.546518     0.962799        18
40      2809 - 95474 C & D Cab Co Inc.   4.430900     1.146592        43
41       4615 - 83503 Tyrone Henderson   4.062698     1.005575        38
42         "2241 - 44667 - Felman Corp   3.782774     0.949132        18
43        4053 - 40193 Adwar H. Nikola   3.499935     1.132757        22
44         3556 - 36214 RC Andrews Cab   3.192959     0.958014        17
45        3669 - 85800 Jordan Taxi Inc   2.842635     1.097611         4

In [9]:
getRes("select Pickup_Community_Area,avg(fare/trip_miles) as Fare_Rate, avg(fare*60/Trip_Seconds) as Fare_Minute ,count(1) as No_Of_Trips from taxi_mini group by Pickup_Community_Area order by Fare_Rate desc;")

    Pickup_Community_Area  Fare_Rate  Fare_Minute  No_Of_Trips
0                      66  63.000000     0.860870            2
1                      73  42.931818     1.046569            4
2                      18  36.475065     1.037593            3
3                      40  34.275432     1.049009           13
4                      15  34.075771     2.180764           81
5                      42  31.926525     1.132669           26
6                      19  30.383892     1.049847           29
7                      52  29.479575     1.134788            3
8                      63  27.054398     1.008761            3
9                      48  26.771132     1.094263            7
10                     31  25.957860     1.219250           72
11                     27  25.877539     1.219173           15
12                     69  25.774990     1.058536           11
13                     39  25.520069     1.464024          134
14                     58  24.188714     0.999844           11
15                     43  22.791134     1.225290           25
16                     20  22.114870     1.950228           16
17                     46  21.762649     1.224013            5
18                     60  20.957789     1.141068           34
19                     38  20.887687     1.190737           40
20                     29  20.175570     1.000844           10
21                     21  19.245776     1.265787          186
22                     35  19.070018     1.099518          114
23                     70  18.937674     0.891715           25
24                     61  18.516161     1.058062           20
25                     13  18.350267     1.257644           59
26                     30  17.854173     1.265672           14
27                     59  16.611988     1.738655           37
28                      2  16.609883     1.524504          410
29                     41  15.774612     2.301860          432
..                    ...        ...          ...          ...
47                     36  11.101138     1.576398           10
48                      6  10.914848     1.192131         7452
49                     28  10.695519     1.081134        14844
50                     62  10.066649     1.037255           13
51                      8   9.866081     1.103913        57098
52                     71   9.454055     0.980751            6
53                     56   9.401823     1.230174         3163
54                     10   9.303220     1.209064           66
55                     32   9.175862     1.057671        45318
56                     64   9.071479     1.421601            8
57                     26   8.355672     2.000426            7
58                     76   8.019088     1.274609        14738
59                     14   7.925675     1.260458          253
60                     25   7.675749     1.018114           19
61                     11   7.232237     1.345004          252
62                     68   7.192714     1.247610           10
63                     51   6.562500     1.750000            1
64                     50   4.500000     2.250000            1
65                     65   4.462912     0.829594            2
66                     37   4.258488     0.982468            5
67                     49   3.774122     1.264049            7
68                     45   3.408729     0.978901            5
69                     57   3.314646     1.638158            2
70                     74   3.287197     0.872894            1
71                     53   3.191489     1.666667            1
72                     67   3.078087     0.965962            5
73                     72   3.020610     1.369900            3
74                     54   2.663148     0.925000            1
75                     55   2.597765     1.081395            1
76                     75   2.509506     1.269231            1

[77 rows x 4 columns]

In [10]:
getRes("select avg(tips) from taxi_mini where tips < (2*fare);")

   avg(tips)
0   1.838265